/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 nov. 2021, 17:35:38
    Author     : pless
*/

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.title {
  text-align: center;
}
/* Create three equal columns that floats next to each other */
.displaybeerscol0 {
  float: left;
  height: 250px;
  padding: 0px;
  padding-left: 1%;
  min-width: 350px;
}
.displaybeerscol1 {
  float: left;
  padding: 20px;
  height: 200px;
  width: 325px;
  justify-content: center;
}

.displaybeerscol2 {
   
  float: left;
  background-color:#0F0B04;
  width: 900px;
}

.displaybeerscol3 {
  width: 150px;
  padding: 10px;
  padding-right: 50px;
}
.displaybeerscol3 label{
    font-weight: bolder;
    font-size: 20pt;
    margin-left: 50px;
}

/* Clear floats after the columns */
.displaybeers:after {
  content: "";
  display: table;
  clear: both;
}
.displaybeers {
    padding: 15px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 50px;
}
/* Create two equal columns that floats next to each other */
.columnForum {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.rowForum:after {
  content: "";
  display: table;
  clear: both;
}
.columnSingleBeer {
    float: left;
}

.leftSingleBeer {
    width: 15%;
    margin-left: 8%;
    margin-right: 50px;
    margin-top: 8%;
}

.middleSingleBeer {
    width: 25%;
}

.rightSingleBeer {
    width: 35%;
    margin-right: 5%;
    margin-left: 15px;
}
.imageSingleBeer {
    max-width:100%;
    max-height:100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 4px 3px rgba(79, 79, 79, 0.5);
}
.imageRecipeBeer {
    width: 3000px;
    max-height: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    box-shadow: 0 0 4px 3px rgba(79, 79, 79, 0.5);
}
.recipeSingleBeerDiv {
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.styled-table-recipe {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table-recipe th{
    padding: 12px 15px;
    font-size: 18pt;
}
.styled-table-recipe td {
    padding: 12px 15px;
    padding-left: 60px;
}
.styled-table-recipe tdVal {
    
}
.styled-table-recipe tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-recipe tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table-recipe tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table th{
    padding: 12px 15px;
    font-size: 18pt;
}
.styled-table td {
    padding: 12px 15px;
    padding-left: 60px;
}
.styled-table tdVal {
    
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.bold {
    font-weight: bold;
}
.googlemaps {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 4px 3px rgba(79, 79, 79, 0.9);
}

.box {
    float: right;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    clear: both;
}


.styled-table-reviews {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table-reviews th{
    padding: 12px 15px;
    font-size: 18pt;
}
.styled-table-reviews td {
    padding: 12px 15px;
    padding-left: 60px;
}
.styled-table-reviews tdVal {
    
}
.styled-table-reviews tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-reviews tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table-reviews tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

